CSharp/Basics/.vs/Basics/FileContentIndex/2a7e931e-81a4-4a37-9c72-347c30ab72b9.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/6463b490-1e5f-49a0-a129-871ee34ca089.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/3e43ee36-d4e8-4607-a60a-1bbf3dcdc219.vsidx 
CSharp/Basics/.vs/Basics/FileContentIndex/ef84775e-9d79-43c5-8ef8-b152b608de9d.vsidx
DOTNET/FirstProject/.vs/FirstProject/FileContentIndex/8284bd03-2b87-41e7-8cbf-c7bf4021acd2.vsidx
DOTNET/FirstProject/.vs/FirstProject/FileContentIndex/a54f5f60-1823-4677-8180-2fe96d9f0e93.vsidx