CSharp/Basics/.vs/Basics/FileContentIndex/2a7e931e-81a4-4a37-9c72-347c30ab72b9.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/6463b490-1e5f-49a0-a129-871ee34ca089.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/3e43ee36-d4e8-4607-a60a-1bbf3dcdc219.vsidx 
CSharp/Basics/.vs/Basics/FileContentIndex/ef84775e-9d79-43c5-8ef8-b152b608de9d.vsidx