CSharp/Basics/.vs/Basics/FileContentIndex/2a7e931e-81a4-4a37-9c72-347c30ab72b9.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/6463b490-1e5f-49a0-a129-871ee34ca089.vsidx
CSharp/Basics/.vs/Basics/FileContentIndex/3e43ee36-d4e8-4607-a60a-1bbf3dcdc219.vsidx 
CSharp/Basics/.vs/Basics/FileContentIndex/ef84775e-9d79-43c5-8ef8-b152b608de9d.vsidx
DOTNET/FirstProject/.vs/FirstProject/FileContentIndex/8284bd03-2b87-41e7-8cbf-c7bf4021acd2.vsidx
DOTNET/FirstProject/.vs/FirstProject/FileContentIndex/a54f5f60-1823-4677-8180-2fe96d9f0e93.vsidx
DOTNET/FirstProject/.vs/FirstProject/FileContentIndex/2d14d6d8-5918-405c-aabb-7adb84fe7651.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/3e606b15-ecde-46de-9ccd-474c877bf4d0.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/94ced3b0-dae0-46fd-b393-210e52a40463.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/32d22bae-f8aa-4dff-9b24-2d9a3caf9e40.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/cdd99f96-836f-4434-a66b-3e2f951ef634.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/ff3de8c1-357e-4036-9c63-67ad0ea6e814.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/366a7144-b7ca-4748-8adb-dc50944f9cee.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/55c5200d-8e00-44c2-a2d1-97a742b361f4.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/c42e8ab5-9b5e-4037-bc71-bff3bf64b1dc.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/e232bd39-19bf-41f2-95a9-69c25f2e4ecd.vsidx
DOTNET/Dbfirst/.vs/Dbfirst/FileContentIndex/f6e60f46-5e3f-4919-9c1f-93e6ebfe3408.vsidx
DOTNET/TempEmbeddin2302C2/.vs/TempEmbeddin2302C2/FileContentIndex/b0f35ea2-465b-4d0d-af5c-bb8652de1d0b.vsidx
DOTNET/TempEmbeddin2302C2/.vs/TempEmbeddin2302C2/FileContentIndex/f566f39b-75bb-45d5-aabf-de001bcea5f6.vsidx